{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="min-h-screen bg-gray-100 flex items-center justify-center relative bg-cover bg-center w-full"
     style="height: calc(100vh - 60px); background-image: url('{% static "images/image.jpg" %}');">

  <form method="post" enctype="multipart/form-data"
        class="recipe-card opacity-0 translate-y-10 transition-all duration-700 bg-slate-900 p-8 rounded-xl shadow-lg w-full max-w-md">

    <h2 class="text-2xl font-bold text-center mb-6 text-white">Add Recipe</h2>
    {% csrf_token %}

    <div>
      <label class="block text-white text-sm font-medium mb-1">Title</label>
      {{ form.title }}
      {{ form.title.errors }}
    </div>

    <div>
      <label class="block text-white text-sm font-medium mb-1">Image</label>
      <label for="image-upload"
             class="flex items-center justify-center cursor-pointer
                    bg-slate-700 text-white py-2 rounded-lg hover:bg-slate-600 transition">
        📷 Choose Image
      </label>
      <p id="file-name" class="text-gray-300 text-sm mt-1">No file chosen</p>
      {{ form.image }}
    </div>

    <div class="flex space-x-4">
  <div class="flex-1">
    <label class="block text-white text-sm font-medium mb-1">Prep time</label>
    {{ form.prep_time }}
    {{ form.prep_time.errors }}
  </div>

  <div class="flex-1">
    <label class="block text-white text-sm font-medium mb-1">Cook time</label>
    {{ form.cook_time }}
    {{ form.cook_time.errors }}
  </div>
</div>


    <div>
      <label class="block text-white text-sm font-medium mb-1">Description</label>
      {{ form.description }}
      {{ form.description.errors }}
    </div>
    <div>
      <label class="block text-white text-sm font-medium mb-1">Ingredients</label>
      {{ ingredient_formset.management_form }}
      {% for form in ingredient_formset %}
        <div class=" p-2 bg-slate-800">
          {{ form.ingredient.label_tag }} {{ form.ingredient }}

          <div class="flex space-x-2">
        <div class="flex-1">
          {{ form.quantity.label_tag }} {{ form.quantity }}
          {{ form.quantity.errors }}
        </div>
        <div class="flex-1">
          {{ form.unit.label_tag }} {{ form.unit }}
          {{ form.unit.errors }}
        </div>
      </div>
          {% if form.DELETE %}
            {{ form.DELETE }} <span class="text-red-400">Delete</span>
          {% endif %}
          {{ form.errors }}
        </div>
      {% endfor %}
    </div>

    <div>
      <label class="block text-white text-sm font-medium mb-1">Instructions</label>
      {{ instructions_form.text }}
      {{ instructions_form.text.errors }}
    </div>

    <div class="mt-6">
  <button type="submit"
          class="w-full bg-slate-600 text-white py-2 rounded-lg font-semibold hover:bg-slate-700 transition cursor-pointer">
    Add Recipe
  </button>
</div>


  </form>
</div>
{% endblock %}
